header {
  float: center;
  margin-bottom: 45px;
}
header ul {
  list-style: none;
  color: gray;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}