/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
}
footer a {
  color: gray;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

@media (max-width: 800px) {
  footer small {
    display: block;
    float: none;
    margin-bottom: 1em;
  }
  footer ul {
    float: none;
    padding: 0;
  }
  footer ul li {
    float: none;
    margin-left: 0;
  }
}