/* Microposts */

.microposts {
  list-style: none;
  padding: 0;
}
.microposts li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}
.microposts .user {
  margin-top: 5em;
  padding-top: 0;
}
.microposts .content {
  display: block;
  margin-left: 60px;
}
.microposts .content img {
  display: block;
  padding: 5px 0;
}
.microposts .timestamp {
  color: gray;
  display: block;
  margin-left: 60px;
}
.microposts .gravatar {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}